
* {
    margin: 0;
    bottom: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: "Montserrat";
  }
  
  .center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
  .game {
    background-color: #000915;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
    padding-bottom: 282px;
    padding-top: 282px;

    &__box{ 
        
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        justify-content: flex-start;
        align-items: center;

        &_title {
            
            margin-left: 120px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 59px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
        }
        &_text {
            

            margin-left: 120px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 32px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
        }
        &_button {
            
            margin-left: 120px;
            width: 234.06px;
            height: 48.6px;
            background: #9C0332;
            border-radius: 30px;
            border: none;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            &:hover {
              transform: scale(1.05);
              box-shadow: 0 0 5px #ccc;
              cursor: url(./image/Vector.png), pointer;
                  }
        }
    }
  }

 .gamepad {
    &__link {
      padding-bottom: 232px;
        margin-right: 72px;
        cursor: url(./image/Vector.png), pointer;

    }
 } 